# Odoo Configuration
VITE_API_URL=http://localhost:3000
ODOO_URL=https://ataad.odoo.com
ODOO_EMAIL=asabry@ataad.sa
ODOO_API_KEY=783d7e44404094fb2f6efc9908a9e4824f6d0faa
ODOO_DB=naqlahtech-ataad-main-9212628
